{{ header }}
<div id="product-manufacturer" class="container">
  <div class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    {% if loop.last %}
    <span>{{ breadcrumb.text }}</span>
    {% else %}
    <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a><img src="images/i-separator.svg">
    {% endif %}
    {% endfor %}
  </div>

  {{ column_left }}

  <div id="content" class="">
    {{ content_top }}

    <div class="catalog-header">
      <div class="catalog-header__content">
        <div class="catalog-header__left">
          <div class="title">
            <h1>{{ heading_title }}</h1>

        {% if description %}<div class="seo_brand_desc">{{description}}</div><hr/>{% endif %}
      
          </div>
        </div>
      </div>
    </div> 

    {% if products %}


      <div class="catalog">
        <div class="catalog__content">
          {% if column_left %}
          <div class="catalog__aside">
            {{ column_left }}
          </div>
          {% endif %}
          <div class="catalog__prod">
            {% if products %}
              <div class="prod__list">
                {% for product in products %}
                  <div class="prod__item" itemscope itemtype="https://schema.org/Product">
                    <div class="prod__item-top">
                      <a onclick="compare.add('{{ product.product_id }}'); return false;" href="#"><img src="images/i-graph.svg"></a>
                      <a onclick="wishlist.add('{{ product.product_id }}'); return false;" href="#"><img src="images/i-bookmark.svg"></a>
                    </div>
                    <div class="prod__item-img">
                      <a href="{{ product.href }}"><img src="{{ product.thumb }}"></a>
                    </div>
                    <div class="prod__item-bottom">
                      <div class="prod__item-title">
                        <a href="{{ product.href }}"><b itemprop="name">{{ product.name }}</b></a>
                        <span class="hidden" itemprop="description"></span>
                      </div>
                      <div class="prod__item-footer">
                        <div class="prod__item-price">
                                  {% if not product.special %}
                            <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                              {{ text_from_n }} <span itemprop="price">{{ product.price_orig }}</span> {{ symbol_right }}
                              <span itemprop="priceCurrency" content="{{ currency }}">{{ text_sht_n }}</span>
                            </span>
                          {% else %}
                            <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                              {{ text_from_n }} <span itemprop="price">{{ product.special_orig }}</span>{{ symbol_right }}
                              <span itemprop="priceCurrency" content="{{ currency }}">{{ text_sht_n }}</span>
                            </span>
                          {% endif %}
                        </div>

                        <div class="item-add-to-cart">
                          <div class="item-add-to-cart__input-block {% if not product.product_info_in_cart %}hidden{% endif %}">
                            <div class="item-add-to-cart__input-block_minus" {% if product.product_info_in_cart %}onclick="cart.update('{{ product.product_info_in_cart.cart_id }}', '{{ product.product_info_in_cart.quantity - 1 }}');"{% endif %}>-</div>
                            <input disabled="disabled" class="item-add-to-cart__input-block_input" data-product-id="{{ product.product_id }}" value="{% if product.product_info_in_cart %}{{ product.product_info_in_cart.quantity }}{% else %}1{% endif %}" />
                            <div class="item-add-to-cart__input-block_plus" {% if product.product_info_in_cart %}onclick="cart.update('{{ product.product_info_in_cart.cart_id }}', '{{ product.product_info_in_cart.quantity + 1 }}');"{% endif %}>+</div>
                          </div>
                          <a onclick="cart.add('{{ product.product_id }}'); return false;" class="prod__item-link" href="#" itemprop="url">
                            <img src="images/i-bag.svg"><span {% if product.product_info_in_cart %}class="hidden"{% endif %}>{{ button_cart_n }}</span>
                          </a>
                        </div>

                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            {{ pagination }}

          </div>
        </div>
      </div>


    {% else %}
    <div class="category-empty-block">
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
    </div>

    {% endif %}
    {{ content_bottom }}
  </div>
  {{ column_right }}
</div>
{{ footer }}