{{ header }}
<div id="common-success" class="container">
	<div class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			{% if loop.last %}
				<span>{{ breadcrumb.text }}</span>
			{% else %}
				<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a><img src="images/i-separator.svg">
			{% endif %}
		{% endfor %}
	</div>

	{{ column_left }}

	<div id="content" class="order">
		{{ content_top }}
		<div class="title">
			<h1>{{ heading_title }}</h1>
		</div>

		{{ text_message }}
		<div class="buttons">
			<div class="pull-right">
				<a href="{{ continue }}" class="btn btn-blue">{{ button_continue }}</a>
			</div>
		</div>

		{{ content_bottom }}</div>
	{{ column_right }}
</div>


{{ footer }}
