    </main>

				<!--
				* Ci Newsletter Starts
				-->
				{{ popup_newsletter }}
				{{ custom_css }}
				<!--
				* Ci Newsletter Ends
				-->
			
    <footer class="footer">

				{{ footer_newsletter }}
			
      <div class="footer__bottom">
        <div class="container">
          <div class="footer__bottom-content">
            <div class="footer__col">
              <div class="footer__title">{{ title_about_us_footer }}</div>
              <div class="footer__row">
                <div class="footer__nav">
                  {% for information in informations_about_us_footer %}
                    <a href="{{ information.href }}">{{ information.title }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="footer__col">
              <div class="footer__title">{{ title_catalog_footer }}</div>
              <div class="footer__row">

                {% for categories_row in categories|batch((categories|length / 2)|round(1, 'ceil')) %}
                  <div class="footer__nav">
                    {% for category in categories_row %}
                      <a href="{{ category.href }}">{{ category.name }}</a>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="footer__col">
              <div class="footer__title">{{ title_payment_footer }}</div>
              <div class="footer__row">
                <div class="footer__nav">
                  {% for information in informations_payment_footer %}
                    <a href="{{ information.href }}">{{ information.title }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="footer__col">
              <div class="footer__title">{{ title_service_footer }}</div>
              <div class="footer__row">
                <div class="footer__nav">
                  {% for information in informations_service_footer %}
                    <a href="{{ information.href }}">{{ information.title }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="footer__col">
              <div class="footer__title">{{ title_work_footer }}</div>
              <div class="footer__row">
                <div class="footer__nav">
                  {% for information in informations_special_footer %}
                    <a {% if loop.first %}class="footer__title"{% endif %} href="{{ information.href }}">{{ information.title }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="footer__col">
              {# <div class="footer__title">{{ title_soc_footer }}</div>
              <div class="footer__soc">
                <a href="{{ fb_link }}"><img src="images/i-fb.svg"></a>
                <a href="{{ vk_link }}"><img src="images/i-vk.svg"></a>
                <a href="{{ youtube_link }}"><img src="images/i-youtube.svg"></a>
              </div> #}
            </div>
          </div>
        </div>
      </div>
      <div class="footer__copy">
        <div class="container">
          <div class="footer__copy-content">
            <div class="footer__copy-left">{{ text_powered_footer_left }}</div>
            <div class="footer__copy-right">{{ text_powered_footer_right }}</div>
          </div>
        </div>
      </div>
    </footer>


    {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
    {% endfor %}
    {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}


            {% if ocpoc_settings.status %}
            <script type="text/javascript">var ocpoc_params = {"list_selector":"{{ ocpoc_settings.list_selector }}","product_btn_block_class":"{{ ocpoc_settings.product_btn_block_class }}","product_btn_class":"{{ ocpoc_settings.product_btn_class }}","show_in_cat":{{ ocpoc_settings.show_in_cat }},"show_in_prod":{{ ocpoc_settings.show_in_prod }},"button_text":"{{ ocpoc_localisation.oc_button_text }}","close_button_text":"{{ ocpoc_localisation.close_button_text }}","descr_show_text":"{{ ocpoc_localisation.description_show_text }}","descr_hide_text":"{{ ocpoc_localisation.description_hide_text }}","order_button_text_loading":"{{ ocpoc_localisation.order_button_text_loading }}","order_button_text":"{{ ocpoc_localisation.order_button_text }}","list_btns":[{% for btn in ocpoc_list_btns %}{"list_element":"{{ btn.list_element }}","list_product_block":"{{ btn.list_product_block }}","list_position":{{ btn.list_position }},"list_btn_class":"{{ btn.list_btn_class }}","list_btn_block_class":"{{ btn.list_btn_block_class }}"},{% endfor %}],"product_position":"{{ ocpoc_settings.product_position }}","product_element":"{{ ocpoc_settings.product_element }}"};</script>
            {% endif %}
            <style>{% if ocpoc_settings.wrapper_bg%}.mfpocp-bg{background:{{ ocpoc_settings.wrapper_bg }} }{% endif %}{% if ocpoc_settings.wrapper_opacity%}.mfpocp-bg{opacity:{{ ocpoc_settings.wrapper_opacity }} }{% endif %}{% if ocpoc_settings.head_footer_bg%}.ocpoc-head,.ocpoc-footer{background:{{ ocpoc_settings.head_footer_bg }} }{% endif %}{% if ocpoc_settings.form_bg%}.ocpoc-body{background:{{ ocpoc_settings.form_bg }} }{% endif %}{% if ocpoc_settings.checkout_button_bg%}.ocpoc .btn-success{background:{{ ocpoc_settings.checkout_button_bg }};border-color:{{ ocpoc_settings.checkout_button_bg }};}{% endif %}{% if ocpoc_settings.checkout_button_bg_hover%}.ocpoc .btn-success:hover,.ocpoc .btn-success:focus{background:{{ ocpoc_settings.checkout_button_bg_hover }};border-color:{{ ocpoc_settings.checkout_button_bg_hover }};}{% endif %}{% if ocpoc_settings.checkout_button_color%}.ocpoc .btn-success{color:{{ ocpoc_settings.checkout_button_color }} }{% endif %}{% if ocpoc_settings.close_button_bg%}.ocpoc .btn-danger{background:{{ ocpoc_settings.close_button_bg }};border-color:{{ ocpoc_settings.close_button_bg }};}{% endif %}{% if ocpoc_settings.close_button_bg_hover%}.ocpoc .btn-danger:hover,.ocpoc .btn-danger:focus{background:{{ ocpoc_settings.close_button_bg_hover }};border-color:{{ ocpoc_settings.close_button_bg_hover }};}{% endif %}{% if ocpoc_settings.close_button_color%}.ocpoc .btn-danger{color:{{ ocpoc_settings.close_button_color }} }{% endif %}{% if ocpoc_settings.heading_font_color%}.ocpoc-head,.mfpocp-close-btn-in .ocpoc .mfpocp-close{color:{{ ocpoc_settings.heading_font_color }} }{% endif %}{% if ocpoc_settings.body_font_color%}.ocpoc,.ocpoc-pname,a.ocpoc-show-descr{color:{{ ocpoc_settings.body_font_color }} }a.ocpoc-show-descr{border-color:{{ ocpoc_settings.body_font_color }} }{% endif %}{% for btn in ocpoc_list_btns %}{% if btn.list_btn_block_css  and  btn.list_btn_block_class %}.{{ btn.list_btn_block_class }} { {{ btn.list_btn_block_css|replace({"\n" : ""}) }} }{% endif %}{% if btn.list_btn_css  and  btn.list_btn_block_class  and  btn.list_btn_class%} .{{ btn.list_btn_block_class~' button.'~btn.list_btn_class }} { {{ btn.list_btn_css|replace({"\n" : ""}) }} }{% endif %}{% endfor %}{% if ocpoc_settings.product_btn_block_css  and  ocpoc_settings.product_btn_block_class%}.{{ ocpoc_settings.product_btn_block_class }} { {{ ocpoc_settings.product_btn_block_css }} }{% endif %}{% if ocpoc_settings.product_btn_css  and  ocpoc_settings.product_btn_block_class  and  ocpoc_settings.product_btn_class%}.{{ ocpoc_settings.product_btn_block_class~' button.'~ocpoc_settings.product_btn_class }} { {{ ocpoc_settings.product_btn_css }} }{% endif %}</style>
            
{{ prmn_cmngr_cities }}
  </body>

</html>