<div id="popup-newsletter" class="modal fade popup-newsletter popup_envelope form-horizontal envelope-wrap" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      {% if display_title %}
      <div class="modal-header">
        <h4 class="modal-title">{{ heading_title }}</h4>
      </div>
      {% endif %}
      <div class="modal-body">
        <div class="logo">
          {% if logo %}
          <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
          {% endif %}
        </div>
        <div class="dynamic-matter">
          
          {% if text_description %}
          <div class="description">{{ text_description }}</div>
          {% endif %}

          {% if display_name %}
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="input input--haruki">
                <input type="text" name="name" value="" class="input__field input__field--haruki" />
                <label class="input__label input__label--haruki" for="input-1">
                  <span class="input__label-content input__label-content--haruki">{{ entry_name }}</span>
                </label>
              </div>
            </div>
          </div>
          {% endif %}

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="input input--haruki">
                <input type="text" name="email" value="" class="input__field input__field--haruki" />
                <label class="input__label input__label--haruki" for="input-1">
                  <span class="input__label-content input__label-content--haruki">{{ entry_email }}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="buttons text-center">
            <button type="button pull-right" class="btn btn-primary" id="btn_popup_subscribe"><i class="fa fa-chevron-right" aria-hidden="true"></i> </button>
          </div>
        </div>
      </div>
    </div>
    <div class="envelope"> </div>
  </div>
</div>
<style type="text/css">
{% if bgimage %}
.popup_envelope .modal-content {
    margin-bottom: 0;
    background: url('{{ bgimage }}');
    background-repeat: no-repeat;
    background-size: cover;
}
{% endif %}

.popup_envelope .envelope{
  background: url('catalog/view/theme/default/image/envelop-bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
</style>
<script type="text/javascript"><!--
$(document).ready(function(){
  $('#popup-newsletter').modal('show');
});

$('#popup-newsletter #btn_popup_subscribe').click(function() {
  $.ajax({
    url: 'index.php?route=newsletter/popup/addSubscriber',
    dataType: 'json',
    data: $('#popup-newsletter input[name="name"], #popup-newsletter input[name="email"]'),
    type: 'post',
    beforeSend: function() {
      $('#popup-newsletter #btn_popup_subscribe').attr('disabled', true);
    },
    complete: function() {
      $('#popup-newsletter #btn_popup_subscribe').attr('disabled', false);
    },
    success: function(json) {
      $('#popup-newsletter .text-danger, #popup-newsletter .alert').remove();
      $('#popup-newsletter .form-group').find('label').removeClass('has-errors');

      if(json['error_name']) {
        $('#popup-newsletter input[name="name"]').parent().after('<div class="text-danger">'+ json['error_name'] +'</div>');

        $('.text-danger').parent().find('label').addClass('has-errors');
      }

      if(json['error_email']) {
        $('#popup-newsletter input[name="email"]').parent().after('<div class="text-danger">'+ json['error_email'] +'</div>');

        $('.text-danger').parent().find('label').addClass('has-errors');
      }

      if(json['success']) {
        $('#popup-newsletter .dynamic-matter').html('<h3 class="success-envelope">'+ json['success'] + '</h3>');

        setTimeout(function() {
          $('#popup-newsletter').modal('hide');
        }, 8000);
      }
    }
  });
});
//--></script>
<script src="catalog/view/javascript/jquery/input/js/classie.js"></script>
<script>
  (function() {
    if (!String.prototype.trim) {
      (function() {
      var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
      String.prototype.trim = function() {
        return this.replace(rtrim, '');
      };
    })();
  }
  [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
    if( inputEl.value.trim() !== '' ) {
      classie.add( inputEl.parentNode, 'input--filled' );
    }
    inputEl.addEventListener( 'focus', onInputFocus );
    inputEl.addEventListener( 'blur', onInputBlur );
  } );
  function onInputFocus( ev ) {
    classie.add( ev.target.parentNode, 'input--filled' );
  }
  function onInputBlur( ev ) {
    if( ev.target.value.trim() === '' ) {
      classie.remove( ev.target.parentNode, 'input--filled' );
    }
  }
})();
</script>