<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ heading_unsubscribe }}</title>
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog\view\theme\default\stylesheet\cinewsletter.css" rel="stylesheet" media="screen" />
</head>
<body class="cod-newsletter">
<div class="mail-wrap" id="unsubscribe-wrap"> 
  <div class="container">
    <div class="row">
      <div id="content">
        {% if logo and display_logo %}
        <div id="logo">
            <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
        </div>
        <br/>
        {% endif %}
        <div class="dynamic-matter">
          {% if display_title %}
          <h2>{{ heading_unsubscribe }}</h2>
          {% endif %}

          {% if display_description %}
          {{ text_message }}          
          {% endif %}

          {{ text_not_found }}

          {% if permission_status %}
          {% if unsubscribe_reasons %}
          <ul class="list-unstyeled">
            {% for unsubscribe_reason in unsubscribe_reasons %}
            <li>
              <label><input type="radio" name="unsubscribe_reason" data-custom-field="{{ unsubscribe_reason.custom_field }}" class="form-control" value="{{ unsubscribe_reason.title }}" />
              {{ unsubscribe_reason.title }}</label>
            </li>
            {% endfor %}
            <li class="unsubscribe_message"></li>
          </ul>
          {% endif %}
          <button type="button" class="button" id="button-unsubscribe">{{ submit_button }}</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript"><!--
  $(document).ready(function() {
    $('input[name="unsubscribe_reason"]').click(function() {

      var unsubscribe_reason = $(this).val();
      var custom_field = $(this).attr('data-custom-field');

      if(custom_field == 1) {
        $('.unsubscribe_message').html('<textarea rows="5" name="unsubscribe_message" placeholder="please enter the message" class="textarea-control"></textarea>');
      } else{
        $('.unsubscribe_message').html('');
      }
    });
  
    $('input[name="unsubscribe_reason"]:first').trigger('click');
  });  
  //--></script>
<script type="text/javascript"><!--
$('#unsubscribe-wrap #button-unsubscribe').click(function() {
  var custom_field = $('input[name="unsubscribe_reason"]:checked').attr('data-custom-field');
  var unsubscribe_message = $('textarea[name="unsubscribe_message"]').val();

  var valid = true;
  
  if(custom_field == '1' && typeof unsubscribe_message != 'undefined' && unsubscribe_message == '') {

    var valid = false;
  }

  if(valid) {
    $.ajax({
      url: 'index.php?route=newsletter/cinewsletter/addUnsubscribe&key={{ key }}',
      dataType: 'json',
      type: 'post',
      data: $('input[name="unsubscribe_reason"]:checked, textarea[name="unsubscribe_message"]'),
      beforeSend: function() {
        $('#unsubscribe-wrap #button-unsubscribe').button('loading');
      },
      complete: function() {
        $('#unsubscribe-wrap #button-unsubscribe').button('reset');
      },
      success: function(json) {
        if(json['success']) {
          $('#unsubscribe-wrap .dynamic-matter').html(json['success']);
        }
      }
    });
  }else{
    $('textarea[name="unsubscribe_message"]').after('<span>{{ error_unsubscribe_required }}</span>');
  }
});
//--></script>
</div>
</body>
</html>
